$belize-hole: #2980b9;
$turquoise: #1abc9c;
$emerald: #2ecc71;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$wet-asphalt: #34495e;

@font-face {
  font-family: 'digital-7';
  src: url("/assets/fonts/digital-7/digital-7.ttf") format("truetype");
}
$font-timer: 'digital-7', sans-serif;


nav{
  background-color: $belize-hole;
  height: 70px;

  .display{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .displayFrame{
    display: inline-block !important;
    width: 40px;
    height: 40px;
    margin: 15px;
    
    background: $turquoise;
    display: table-cell;
    border-radius: 5px;

    .mineCount{
      text-align: center;
      vertical-align: middle;
      color: $wet-asphalt;
      line-height: 40px;
      font-family: $font-timer;
      font-size: large;
    }

    .timer{
      text-align: center;
      vertical-align: middle;
      color: $wet-asphalt;
      line-height: 40px;
      font-family: $font-timer;
      font-size: large;
        
    }

  }

  .minePic{
    margin-top: 20px;
    margin-right: 120px;
  }

  .clockPic{
    margin-top: 20px;
    margin-left: 120px;
  }
  .resetFrame{
    display: inline-block !important;     

    button{
      background-color: $concrete;
      margin: 10px;
      width: 50px;
      height: 50px;
      padding: 0px;
      border: .5px darkgrey solid;
      border-radius: 5px;
      transition-duration: 200ms;
    }
  
    button:hover{
      background-color: $concrete;
    }
    button:focus {
      outline:0;
    }
    button:active{
      background-color: $asbestos;
      transition-duration: 0ms;
    }
  }
  
}